body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding-top: 30px;
    margin: 0;
}

#app {
    max-width: 1200px; /* Set a consistent max width */
    margin: 0 auto;
    padding: 20px;
}

.calendar-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.day-number {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.day-number:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #007bff;
    color: white;
}

.disabled {
    color: #ddd;
    pointer-events: none;
}

.carousel-controls {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

button:disabled {
    background-color: #ccc;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.form-container h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-label {
    font-weight: bold;
    color: #333;
}

select.form-control {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 12px;
}

button.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.submit-btn:hover {
    background-color: #0056b3;
}

.modal-content {
    padding: 20px;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-body ul {
    list-style: none;
    padding: 0;
}

.modal-body ul li {
    margin-bottom: 10px;
}

.modal-footer {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
}
