#login {
    margin-top: 100px;
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#forgetPw {
    text-align: end;
}

#username {
    width: 300px;
    height: 35px;
}

#password {
    width: 300px;
    height: 35px;

}

#btnLogin {
    text-align: center;
}

#btnLogin input {
    width: 300px;
}

#otherLogin {
    margin-top: 15px;
}

#otherLogin button {
    width: 145px
}


#others {
    display: flex;
    align-items: center;
    /* text-align: center; */
}

#others hr {
    flex-grow: 100;
    color: black;
}
#others span {
    white-space: nowrap;
    margin: 0 5px;
}

#loginReturn{
    text-align: center;
}